<h1>Client Color palette</h1>

<div class="color-container">
{{#each clientColor.colorInfo}}
<div class="color">
<img src="{{this.image.bare}}" alt="">
<h3>{{this.name.value}}</h3>
<p>Hex: {{this.hex.value}}</p>
<p>Rgb: {{this.rgb.value}}</p>
<p>Hsl: {{this.hsl.value}}</p>
<p>Cmyk: {{this.cmyk.value}}</p>
<form action="/client/{{../clientColor.id}}/{{this.hex.clean}}/delete" method="post">
   <button class="delete-btn" type="submit">Delete Color</button>
</form>
</div>
{{/each}}
</div>
<a href="/client/{{clientColor.id}}/client-page">back</a>
