



<header>
         <div class="nav-bar">
            <h3 id="logo">BrandLogo</h3>
		<div class="nav-container">
            <nav class="hamburger-nav">
               <div class="nav">
                  <div class="nav-btns">
                     <a id="back-btn" href="/user/client-list">&#171 back</a>
                     <div>
                         <div class="color-palette-form">
                            <p>Add Color</p>
                         <form class="nav-form" action="/client/{{clientDetails._id}}/new-color" method="post">
                           <div class="add-color">
                                 <input type="text" name="color" placeholder="HEX #">
                                 <button id="round-btn" type="submit">+</button>
                           </div>
                        </form>
                        </div>
                     </div> 

                      {{!--   <form action="/client/new-font" method="post">
                        <label> Add Font </label>
                              <input type="text" name="font">
                           <button type="submit">+</button>
                        </form> --}}
                     
                    <div class="log-out">
                     <a href="/auth/logout">Log Out</a>
                    </div>
                </div>
               </div>
            </nav>
			<button class="hamburger">
				<div class="bar"></div>
			</button>
		</div>
      </div>
	</header>




<div class="container">

   <h1>{{clientDetails.name}}</h1>

   <div class="color-palette-box">
      <h3>Color Palette</h3>
      <div class="color-circles">

      {{#each clientDetails.colorPalette}}

         <div style="background-color:#{{this}}; width: 70px; height: 70px; border-radius: 50%; margin: 0px 10px;"></div>
      
      {{/each}}
      </div>

      <a class="btn"href="/client/{{clientDetails._id}}/client-color">View Details</a>

   </div>

      <div class="client-btns">
            <form action="/client/{{clientDetails._id}}/delete" method="post">
                  <button id="form-btn" class="delete"type="submit">Delete Client</button>
            </form>
            <form action="/user/{{clientDetails._id}}/edit-client" method="get">
                  <button id="form-btn" type="submit">Edit Client</button>
            </form>
      </div>

</div>