
<header>
         <div class="nav-bar">
		<div class="nav-container">
            <nav class="hamburger-nav">
               <div class="nav">
                  <div class="nav-btns">
                     <a id="back-btn" href="/client/{{clientId}}/client-page"> &#171 back</a>
                     <a href="/user/user-home">User profile</a>

                  </div>
                  <div class="log-out">
                     <a href="/auth/logout">Log Out</a>
                  </div>
                </div>
            </nav>
            <div class="logo-container">
			<button class="hamburger">
				<div class="bar"></div>
			</button>
		</div>
                  <a class="logo" href="/">CreativeHaus</a>
               <div class="container-switch">
   <label class="switch">
  <input id='checkbox' type="checkbox" onchange='handleChange(this);'>
  <span class="slider round"></span>
  </label>
      </div>
      </div>
      </div>
	</header>

<div class="container">

<h1>Color palette</h1>

<div class="color-container">
{{#each clientColor.colorInfo}}
<div class="color">
<img src="{{this.image.bare}}" alt="">
<h3>{{this.name.value}}</h3>
<p>{{this.hex.value}}</p>
<p>{{this.rgb.value}}</p>
<p>{{this.hsl.value}}</p>
<p>{{this.cmyk.value}}</p>
<form action="/client/{{../clientColor.id}}/{{this.hex.clean}}/delete" method="post">
   <button id="delete-btn" type="submit">Delete</button>
</form>
</div>
{{/each}}
</div>

</div>