
<header>
         <div class="nav-bar">
            <h3>BrandLogo</h3>
		<div class="nav-container">
            <nav class="hamburger-nav">
               <div class="nav">
                  <div class="nav-btns">
                     <a href="/user/client-list">Back</a>
                     <a href="/user/user-home">User profile</a>

                  </div>
                  <div class="log-out">
                     <a href="/auth/logout">Log Out</a>
                  </div>
                </div>
            </nav>
			<button class="hamburger">
				<div class="bar"></div>
			</button>
		</div>
      </div>
	</header>



<h1>Client Color palette</h1>

<div class="color-container">
{{#each clientColor.colorInfo}}
<div class="color">
<img src="{{this.image.bare}}" alt="">
<h3>{{this.name.value}}</h3>
<p>Hex: {{this.hex.value}}</p>
<p>Rgb: {{this.rgb.value}}</p>
<p>Hsl: {{this.hsl.value}}</p>
<p>Cmyk: {{this.cmyk.value}}</p>
<form action="/client/{{../clientColor.id}}/{{this.hex.clean}}/delete" method="post">
   <button class="delete-btn" type="submit">Delete Color</button>
</form>
</div>
{{/each}}
</div>
<a href="/client/{{clientColor.id}}/client-page">back</a>
