<header>
         <div class="nav-bar">
            
		<div class="nav-container">
            <nav class="hamburger-nav">
               <div class="nav">
                            <a id="back-btn" href="/user/user-home">&#171 back</a>
                                <div class='form-box'>
                                    <form class="nav-form" action="/user/add-client" enctype="multipart/form-data"  method="POST">
                                        <input type="text" name="name" placeholder="Client Name">
                                        <input type="email" name="email" placeholder="Email">
                                    <input type="file" name="image" class="form-control-file" placeholder="Client Logo" />
                                    <button id="form-btn-center" type="submit">Add New Client</button>
                                    </form>
                                </div>
                            {{#if errorMessage}}
                            {{errorMessage}}
                            {{/if}}

                        <div class="log-out">
                        <a href="/auth/logout">Log Out</a>
                        </div>
               </div>
            </nav>
			<button class="hamburger">
				<div class="bar"></div>
			</button>
		</div>
        <a class="logo" href="/">CreativeHaus</a>
      </div>
	</header>


<div class="container">

<div class="client-row">
{{#each clients}}
<div class="client-details">
 <a href="/client/{{_id}}/client-page"><img src="{{imageUrl}}" alt="{{name}}" /></a>
 <h5>{{name}}</h5>
</div>
{{/each}}
</div>


</div>