<header>
         <div class="nav-bar">
            
		<div class="nav-container">
            <nav class="hamburger-nav">
               <div class="nav">
                  <div class="nav-btns">
                     <div>
                         <a href="/user/client-list">Clients</a>
                     </div>
                    <div class="log-out">
                     <a href="/auth/logout">Log Out</a>
                    </div>
                </div>
               </div>
            </nav>
			<button class="hamburger">
				<div class="bar"></div>
			</button>
		</div>
      <a class="logo" href="/">CreativeHaus</a>
      </div>
	</header>

<div class="container">

<div class="form-container">

   <h1>Edit Client</h1>

<form class="auth-form" action="/user/{{dbClient._id}}/edit-client" enctype="multipart/form-data" method="POST">
   <label for="name">Name</label>
      <input type="text" name="name" value="{{dbClient.name}}">
  
   <label for="email">Email</label>
      <input type="email" name="email" value="{{dbClient.email}}">

    <label for="imageUrl">Client Logo</label>
   <input type="file" name="image" class="form-control-file" value="{{dbClient.imageUrl}}"/>
   
   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}

</div>
</div>