<div class="container">

<div class="form-container">

<form action="/user/{{dbClient._id}}/edit-client" method="POST">
   <label for="name">Name</label>
      <input type="text" name="name" value="{{dbClient.name}}">
  
   <label for="email">Email</label>
      <input type="email" name="email" value="{{dbClient.email}}">

    <label for="imageUrl">Client Logo</label>
   <input type="file" name="image" class="form-control" value="{{dbClient.imageUrl}}"/>
   
   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}

</div>
</div>